/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white
}

html {
  height: auto
}

.header {
  width: 100%;
  position: relative;
}

.black {
  width: 100%;
  height: 100%;
  background-color: #2C2C2C;
  opacity: 0.7;
  position: absolute;
}

.title__block {
  z-index: 2;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/profil.jpg);
  height: 350px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.title__text {

  margin-bottom: 13px;
}

.text__name {
  font-size: 37px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.text__whoAmI {
  color: #D1D1D1;
  text-align: center;
  font-family: 100;
  font-size: 18px
}

.title__btn {
  display: flex;
  justify-content: center;
}

.btn__aboutMe:hover {
  background-color: #A7A7A773;
  outline: none;
  transition: 0.3s ease;
}

.btn__aboutMe {
  background-color: transparent;
  overflow: hidden;
  color: #C2C2C2;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  padding: 12px;
}

.nav {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.nav__bgc {
  height: 60px;
  width: 100%;
  background-color: #282940;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__inner {
  width: 100%;
  margin: 0 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__name {
  color: #D2D2D2;
  font-weight: 600;
  font-size: 17px;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-1,
.btn-2,
.btn-3 {
  width: 17px;
  height: 2px;
  background-color: #505050;
  margin: 2px;
  transition: 0.2s ease-in-out
}

.nav__btn-active .btn-2 {
  opacity: 0;
  visibility: hidden;
  transform: scale(2)
}

.nav__btn-active .btn-1 {
  transform: rotateZ(-45deg)
}

.nav__btn-active .btn-3 {
  transform: rotateZ(45deg)
}

.nav__menu {
  overflow: hidden;
  width: 100%;
  max-height: 0px;
  border-top: 1px solid #434343;
  background-color: #282940;
  transition: max-height 0.3s ease;
}

.nav__burger-menu {
  margin: 20px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

.nav__burger-menu p {
  color: #D4D4D4;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.nav__burger-menu p:last-child {
  margin-bottom: 0
}

.nav__burger-menu p:hover {
  margin-left: 5px;
  color: #E17535;
}

.nav__menu-active {
  max-height: 500px
}

.about,
.services {
  width: 100%;
}

.about__inner,
.services__inner,
.skills__inner,
.contact__inner,
.footer__inner,
.work__inner {
  padding: 23px;
  display: flex;
  flex-direction: column;
  align-items: center
}

/* .about__title,
.services__title,
.skills__title,
.contact__title */
.title-text {
  font-size: 30px;
  font-weight: 600;
  color: #2B2B2B;
  margin: 25px 0 20px 0
}

/* .about__line,
.services__line,
.skills__line,
.contact__line  */
.line {
  width: 80px;
  height: 4px;
  background-color: #E17535;
  margin-bottom: 50px;

}

.about__img {
  width: 190px;
  height: 190px;
  margin-bottom: 13px;
  border-radius: 50%;
  background: url("img/profil2.jpg");
  background-size: cover;
  background-position: center center;
}

.about__text,
.contact__text {
  margin: 12px 0;
  line-height: 140%;
  color: #696B7E;
}

.services {
  padding-bottom: 13px;
  background-image: url("img/1.jpg");
  background-size: cover;
  background-position: right center;
  background-attachment: fixed
}

.services__item {
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  align-items: center
}

.services__container {
  display: flex;
  flex-direction: column;
}

.services__icon {
  margin: 25px 0
}

.services__icon img {
  width: 50px;
}

.services__subtitle {
  margin-bottom: 10px;
  font-size: 17px;
  color: #E17535;
  font-weight: 600;
}

.services__text {
  line-height: 22px;
  color: #696B7E
}

.skills__gHTML,
.skills__gCSS,
.skills__gJS,
.skills__gPHP {
  width: 190px;
  height: 190px
}

.skills__container {
  display: flex;
  flex-direction: column;
}

.contact {
  width: 100%;
  padding-bottom: 13px;
  background-image: url("img/2.jpg");
  background-size: cover;
  position: center center;
  background-attachment: fixed;
  position: relative;
}

.contact__blue {
  width: 100%;
  height: 100%;
  background-color: #021594;
  opacity: 0.4;
  position: absolute
}

.contact__inner {
  position: relative
}

.contact__title,
.contact__text {
  color: white;
}

.contact__icon img {
  width: 30px;
  height: 30px;
}

.contact__icon {
  margin-bottom: 10px
}

.contact__address {
  font-size: 12px;
  color: #F3F3F3;
  font-weight: 500
}

.contact__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px
}

.contact__main {
  width: 100%;
  border-bottom: 1px solid #797979
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact_link a {
  display: block;
  width: 30px;
  margin-right: 20px;
}

.contact_link img {
  width: 30px;
}

.contact__link a:last-child {
  margin-right: 0;
  margin-left: 20px;
}

.footer {
  background-color: #2E3047;
}

.footer__title {
  font-size: 12px;
  color: #E6E6E6;
  margin: 10px;
}

.card {
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.3s ease, max-height 0.5s ease;
  max-height: 0;
}

.card_active {
  transform: scale(1);
  max-height: 100px
}

.card__title {
  background-color: #CAFFC9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title,
.card__info {
  padding: 8px
}

.card__title-text {
  color: #5E7C5D;
}

.card__closed {
  font-size: 20px;
  color: #327F30;
  padding: 2px
}

.card__info {
  background-color: #DEFFDE;
}

.card__info-text {
  color: #759B74
}
.work{
  border-bottom: 1px solid #C8C8C8
}
.work__row{
  width: 100%;
  text-align: center;
}
.work__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
}

.work__img {
  width: 100%;
  border-radius:4px;
  transition: all 0.3s ease
}
.work__img:hover{
  transform: scale(1.2)
}
.work__subtitle{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px
}
.work__button{
  margin-top: 10px;
  padding: 9px 20px;
  background: transparent;
  border: 1.5px solid #E4E4E4;
  border-radius: 3px;
  transition: all 0.3s ease
}
.work__button a{
  font-size: 17px;
  color: #2C2C2C;
  font-weight: 500;
}
.work__button:hover{
  background-color:#D6D6D6;
  border-color: #B7B7B7
  
}



/*Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {}

/*Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {
  .work__img{
    width: 50%;
  }
  .work__row{
    display: flex;
  }
  .work__item{
    width: 50%;
    margin: 0 17px
  }
  .work__subtitle{
    font-size: 23px;
  }
  .work__button{
    padding: 12px 23px
  }
  .work__button a{
    font-size: 23px;
  }
  .title__block {
    padding: 0 50px
  }

  .title {
    height: 100vh;
    justify-content: left;
    background-position: left center
  }

  .text__name {
    font-size: 70px
  }

  .btn__aboutMe {
    font-size: 27px;
  }

  .text__whoAmI {
    font-size: 27px
  }

  .nav__btn {
    display: none
  }

  .nav__menu {
    max-height: 500px
  }

  .nav__burger-menu {
    flex-direction: inherit;
  }

  .nav__burger-menu p {
    margin: 0 20px
  }

  .about__text,
  .services__text,
  .contact__text {
    font-size: 20px;
    line-height: 140%;
  }

  .services__text {
    text-align: center;
  }

  .skills__container {
    flex-direction: initial;
    flex-wrap: wrap
  }

  .skills__item {
    display: flex;
    flex: 1 0 50%;
    justify-content: center;
  }

  .services__container {
    flex-direction: initial;
    flex-wrap: wrap;
  }

  .services__item {
    flex: 1 0 50%;
    padding: 12px
  }

  .contact__main {
    display: flex;
    justify-content: center
  }

  .contact__main a {
    margin: 17px
  }


}

/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
  .nav__inner {
    padding: 20px;
  }

  .nav__menu {
    border: none
  }

  .nav {
    flex-direction: initial;
  }

  .container {
    margin: 0 auto;
    width: 700px
  }

  .about__text,
  .services__text,
  .contact__text {
    font-size: 26px;
    line-height: 120%
  }

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1400px) {
  .container {
    width: 900px
  }
}